.btn {
  cursor: pointer;
  background: rgba(18, 18, 18, 1);
  width: 170;
  height: 47;
  top: 13px;
  left: 1238px;
  border-width: 1px;
  border-radius: 12px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  gap: 10px;
  color: rgba(52, 201, 75, 1);
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.25px;
  text-align: center;
  vertical-align: middle;
}
