.faqbox {
  width: 1135;
  height: 345;
  top: 1661px;
  left: 153px;
  border-width: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
}
